/* ----------- Cart Page ----------- */
.cart-container {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.item-added {
  font-size: 20px;
  margin: 15px 0;
}

.empty-code {
  border: 1px solid black;
  text-align: center;
  padding: 50px;
  font-weight: 600;
  border-radius: 10px;
}

.cart-heading {
  background: url("heading-bg.jpg");
  color: white;
  margin-top: 35px;
  text-align: center;
  width: 100%;
  font-size: 65px;
  height: 160px;
  padding: 50px 0 30px;
  font-weight: 300;
}

.returntoshop,.checkout-btn {
  background-color: #799e8b;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  text-transform: uppercase;
  border-width: 2px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.returntoshop:hover {
  background-color: white;
  color: #141313;
}

.remove-btn {
  margin-top: 8px;
  padding: 6px 12px;
  text-decoration: underline;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.return-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* ---------- NEW STYLES FOR 2-COLUMN CART ---------- */
.cart-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 50;
  color: #242323;
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-left {
  flex: 2;
}

.cart-right {
  flex: 1;
  margin-top: -18px;
  padding: 25px;
  border-radius: 10px;
  
  position: sticky;
  top: 20px;
}
.line{
  background-color: #837f7f;
  font-weight: 5px;
}
.cart-right h2,
.cart-right h3,
.cart-right p {
  margin-bottom: 1px;
  font-family: "Open Sans", sans-serif;
}
.cod{
  font-size: 15px;
}
.totals{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  gap: 20px;
  align-items: center;
 
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
 
}

.cart-img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.checkout-btn:hover {
  background-color: white;
  color: #141313;
}
